body{
    margin: 0px;
}
span {
    background-color: blue;
    width: auto;
}

div {
    background-color: aqua;
    padding: 20px;
    width: 100px;
    height: 20px;
    margin: 30px;
}

h1{
    margin: 50px;
    background-color: #84e;
    padding: 20px;
    width: 100px;
    border: 1pix solid;
}
