* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body{
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/p04tcwy/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    font-family: 'Inter', sans-serif;
}

h3 span{
  color: #FFC700;
}
h3{
  
  color: white;
  font-size: 16px;
  line-height: 19px;
  
}
h1{
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

p{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 72px;
  color: white;
  opacity: .7;
} 

a {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 32px;
  opacity: 0.6;
}

a:hover,.btn-primary{
  text-decoration: none;
  background-color: #FFC700;
  color: black;
  opacity: 1;
}


