body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
h2{
    color: seagreen;
}

.hoje{
    color: darkred;
}
.amanha {
    color: darkblue;
}

.filmes{
    font-size: 20px;
}
